*[b-9ppfxaf2lc] {
    color: #eb3a9b;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body[b-9ppfxaf2lc] {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1[b-9ppfxaf2lc] {
    font-weight: bold;
    margin: 35px;
    text-align: left;
}

/* Main container */
.container[b-9ppfxaf2lc] {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
    max-width: 800px;
    padding: 10px;
}

/* Dropdown section */
.dropdown-container[b-9ppfxaf2lc] {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

select[b-9ppfxaf2lc] {
    font-size: 16px;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #eb3a9b;
    border-radius: 5px;
    background-color: #fff;
    color: #eb3a9b;
    text-align: center;
}

/* Main content layout */
.main-content[b-9ppfxaf2lc] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: #fff;
}

/* Ingredients table */
.ingredients[b-9ppfxaf2lc] {
    width: 48%;
}

.ingredients table[b-9ppfxaf2lc] {
    width: 100%;
    border-collapse: collapse;
}

.ingredients th[b-9ppfxaf2lc],
.ingredients td[b-9ppfxaf2lc] {
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

.ingredients th[b-9ppfxaf2lc] {
    background-color: #eb3a9b;
    color: white;
}

.ingredients td[b-9ppfxaf2lc] {
    background-color: #f9f9f9;
    color: #000;
}

/* Details section */
.details[b-9ppfxaf2lc] {
    background-color: #eb3a9b;
    color: #fff; !important;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.details p[b-9ppfxaf2lc] {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
}

.details strong[b-9ppfxaf2lc] {
    color: #fff;
}
/* Add section */
.add-section[b-9ppfxaf2lc] {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.add-section label[b-9ppfxaf2lc] {
    font-size: 14px;
}

.add-section input[b-9ppfxaf2lc],
.add-section select[b-9ppfxaf2lc] {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #eb3a9b;
    border-radius: 5px;
}

.add-btn[b-9ppfxaf2lc] {
    background-color: #eb3a9b;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.add-btn:hover[b-9ppfxaf2lc] {
    background-color: #d12884;
}

/* Delete button */
.delete-btn[b-9ppfxaf2lc] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #eb3a9b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.delete-btn:hover[b-9ppfxaf2lc] {
    background-color: #d12884;
}