*[b-tcdo8aank8] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: #eb3a9b;
  }
  input[b-tcdo8aank8]::placeholder {
    color: #eb3a9b;
  }
  button:hover[b-tcdo8aank8] {
   
    background-color: #c82e7b;
    cursor: pointer;
  }
  
  .error-red[b-tcdo8aank8] {
    font-weight: bold;
    size: 45px;
    padding: 10px;
    color: crimson;
  }
  
  .error-green[b-tcdo8aank8] {
    font-weight: bold;
    size: 45px;
    padding: 10px;
    color: green;
  }
  