*[b-iwixz8xuek] {
    color: #eb3a9b;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1[b-iwixz8xuek] {
    font-size: 2rem;
    margin-bottom: 20px;
}

.headers[b-iwixz8xuek] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.headers span[b-iwixz8xuek] {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.data-row[b-iwixz8xuek] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.data-row input[b-iwixz8xuek] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #8B008B;
    border-radius: 5px;
}

.data-row span[b-iwixz8xuek] {
    flex: 1;
    text-align: center;
}

.totals[b-iwixz8xuek] {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.totals span[b-iwixz8xuek] {
    font-weight: bold;
}

button[b-iwixz8xuek] {
    background-color: #FF1493;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover[b-iwixz8xuek] {
    background-color: #C71585;
}