*[b-vngcrzk45w] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: #eb3a9b;
}
input[b-vngcrzk45w]::placeholder {
  color: #eb3a9b;
}
button:hover[b-vngcrzk45w] {
 
  background-color: #c82e7b;
  cursor: pointer;
}

.error-red[b-vngcrzk45w] {
  font-weight: bold;
  size: 45px;
  padding: 10px;
  color: crimson;
}

.error-green[b-vngcrzk45w] {
  font-weight: bold;
  size: 45px;
  padding: 10px;
  color: green;
}
