/* _content/Flower/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-az7fdr8bms] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-az7fdr8bms] {
    flex: 1;
}

.sidebar[b-az7fdr8bms] {
    background-color: #c52d80;
}

.top-row[b-az7fdr8bms] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-az7fdr8bms]  a, .top-row[b-az7fdr8bms]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-az7fdr8bms]  a:hover, .top-row[b-az7fdr8bms]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-az7fdr8bms]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-az7fdr8bms] {
        justify-content: space-between;
    }

    .top-row[b-az7fdr8bms]  a, .top-row[b-az7fdr8bms]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-az7fdr8bms] {
        flex-direction: row;
    }

    .sidebar[b-az7fdr8bms] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-az7fdr8bms] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-az7fdr8bms]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-az7fdr8bms], article[b-az7fdr8bms] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-az7fdr8bms] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-az7fdr8bms] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Flower/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7xnz4wvw8f] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-7xnz4wvw8f] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-7xnz4wvw8f] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7xnz4wvw8f] {
    font-size: 1.1rem;
}

.bi[b-7xnz4wvw8f] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}
.bi2[b-7xnz4wvw8f] {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi2-plus-fill-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='white' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}
.bi-clock-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='white' class='bi bi-clock' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

.bi-graph-nav-menu[b-7xnz4wvw8f]{ 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='white' class='bi bi-graph' viewBox='0 0 16 16'%3E%3Cpath d='M0 0v16h16v-16H0zm14.5 13.5h-2.5v-8H8v-3.5H4v7.5H1.5v-6h3.5v-1H1.5v12.5h12.5v-2.5H14.5zm-3-3h2.5v-6h-2.5v6zm-4-2.5h2.5v-1h-2.5v1zm-4-3h2.5v2.5h-2.5v-2.5z'/%3E%3C/svg%3E"); 
}

.bi-flower-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='white' class='bi bi-flower' viewBox='0 0 16 16'%3E%3Cpath d='M8 1.5C6.83 1.5 5.5 2.35 5.5 4a2.5 2.5 0 0 1 5 0c0 1.65-1.33 2.5-2.5 2.5S6.5 5.65 6.5 4C6.5 2.35 7.17 1.5 8 1.5zm1 10C9 11.17 9 12.5 8 12.5S7 11.17 7 10c0-1.83 0-3.5 1-3.5s1 1.67 1 3.5zm4.5 1.5c-.33 0-.75-.12-1.08-.35-.52-.34-.92-.94-1.36-1.46-.72-.83-1.45-1.17-2.06-.7-.5.4-.55.84-.55 1.25a3.484 3.484 0 0 0 2.06 2.06c.41 0 .85-.05 1.25-.55.48-.61.13-1.34-.7-2.06-.52-.44-1.12-.84-1.46-1.36C11.12 13.25 11 12.83 11 12.5c0-.41.25-1.08.7-1.7.44-.52 1.04-.92 1.46-1.36.34-.52.35-1.08.35-1.46 0-.33-.12-.75-.35-1.08-.34-.52-.94-.92-1.46-1.36-.83-.72-1.17-1.45-.7-2.06.4-.5.84-.55 1.25-.55.82 0 1.73.23 2.5.7C15.78 5.43 16 6.33 16 7c0 1-.83 1.83-2.5 1.83S11 8 11 7c0-.67.22-1.57.7-2.36C12.73 4.23 13.17 4 14 4s1.57.22 2.36.7C16.78 5.23 17 6.17 17 7c0 1-.83 1.83-2.5 1.83S12 8 12 7c0-.67.22-1.57.7-2.36C13.73 4.23 14.17 4 15 4s1.57.22 2.36.7C16.78 5.23 17 6.17 17 7c0 1-.83 1.83-2.5 1.83S11 8 11 7c0-.67.22-1.57.7-2.36C12.73 4.23 13.17 4 14 4s1.57.22 2.36.7C16.78 5.23 17 6.17 17 7c0 1-.83 1.83-2.5 1.83z'/%3E%3C/svg%3E");
}

.bi-list-nav-menu[b-7xnz4wvw8f]{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 12.5a.5.5 0 0 1 0-1H14.5a.5.5 0 0 1 0 1H2.5zM2.5 8a.5.5 0 0 1 0-1H14.5a.5.5 0 0 1 0 1H2.5zM2.5 3.5a.5.5 0 0 1 0-1H14.5a.5.5 0 0 1 0 1H2.5z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}





.nav-item[b-7xnz4wvw8f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7xnz4wvw8f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7xnz4wvw8f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7xnz4wvw8f]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-7xnz4wvw8f]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-7xnz4wvw8f]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-7xnz4wvw8f] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-7xnz4wvw8f] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7xnz4wvw8f] {
        display: none;
    }

    .nav-scrollable[b-7xnz4wvw8f] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/Flower/Components/Pages/Home.razor.rz.scp.css */
*[b-t7cec1zovi] {
    color: #eb3a9b;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1[b-t7cec1zovi] {
    font-weight: bold;
    padding: 35px;
    margin-top: 20px;
}

h6[b-t7cec1zovi] {
    padding-left: 35px;
    font-weight: 400;
    font-size: 26px;
}

p[b-t7cec1zovi] {
    font-size: 25px;
    font-weight: 300;
}


.hidden-file-input[b-t7cec1zovi] {
    display: none;
}


.custom-file-upload label[b-t7cec1zovi] {
    margin: 35px;
    padding: 5px 35px;
    background-color: #eb3a9b;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-upload label:hover[b-t7cec1zovi] {
    background-color: #a0276a;
}

/* Style for file name display */
.file-name[b-t7cec1zovi] {
    margin-left: 35px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
/* _content/Flower/Components/Pages/NewEntry.razor.rz.scp.css */
