@page "/bouquetmaker"
@rendermode InteractiveServer

<PageTitle>Bouquet Maker</PageTitle>

<h1>Bouquet Maker</h1>

<input type="text" placeholder="Name">


<input type="text" placeholder="Labor Costs">

<h3>Contents</h3>
<h3>Amounts</h3>
<h5><u>Total Indiviual Retail</u></h5>



<form style="display: flex; align-items: center; gap: 10px;">
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</form>


<input type="number" placeholder="Amount 1">
<h6> 4.50</h6>

<h4><u>Total Cost</u></h4>
<h6> 15</h6>

<h4><u>Profit</u></h4>
<h6> 4</h6>

<button>New Line</button>

<button>Save</button>
