@page "/bouquetmaker"
@rendermode InteractiveServer

<PageTitle>Bouquet Maker</PageTitle>
@using System

<h1>Bouquet Maker</h1>

<div class="container">
    <div class="headers">
        <span>Name</span>
        <span>Labor Costs</span>
        <span>Misc Costs</span>
        <span>Retail Price</span>
    </div>

    <div class="data-row">
        <input type="text" placeholder="Contents">
        <input type="number" placeholder="Amount">
        <span>Total Individual Retail</span>
        <span>Total Cost: 15</span>
        <span>Profit: 4</span>
    </div>

    <button id="add-line">New Line</button>

    <button id="save-recipe">Save To Recipes</button>
</div>