@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<h1>Upload File</h1>

<h6>Get insights on your price changes</h6>

<div class="custom-file-upload">
    <button @onclick="ReadTxt">Get Data</button>
</div> 

<div class="custom-file-upload">
    <button @onclick="WriteTxt">Send Data</button>
</div> 


<p>@csvData</p>

@code{

    public string csvData = "";

    public void ReadTxt()
    {
        csvData = "";
         List<string[]> csvData2 = new List<string[]>();
        //change this as needed
        string filePath = "C:\\Users\\efren\\OneDrive\\Desktop\\FlowerProjectData.txt";


        using (StreamReader reader = new StreamReader(filePath)){
                string line;
                while ((line = reader.ReadLine()) != null){
                    string[] fields = line.Split(',');
                    csvData2.Add(fields);
                }
            }

        foreach (var row in csvData2)
        {
            csvData += string.Join(",", row) + "\n";
        }
        
    }

    public void WriteTxt(){
         string path = "C:\\Users\\efren\\OneDrive\\Desktop\\FlowerProjectData.txt";
        string content = "Hello, this is a test message!";
        
            
        File.WriteAllText(path, content);
           
        
      
    }
    }






