* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
input::placeholder {
  color: #eb3a9b;
}
button:hover {
  background-color: #c82e7b;
  cursor: pointer;
}