@page "/newentry"
@attribute [StreamRendering]

<PageTitle>New Entry</PageTitle>

<h1>Add New Entry</h1>


<h3>Flowers</h3>
<h3>Units</h3>
<h3>Cost</h3>
<h5><u>Stem Cost</u></h5>
<h5><u>Change Since Last Entry</u></h5>



<form style="display: flex; align-items: center; gap: 10px;">
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</form>
<input type="number" placeholder="Units 1">
<input type="number" placeholder="Cost 1">
<h6> 0.43</h6>
<h6> 3%</h6>

<button>New Line</button>

<button>Save</button>

