* {
    color: #eb3a9b;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    padding: 35px;
    margin-top: 20px;
}

select, h3 {
    margin-left: 35px;
}

.svg-container {
    padding-left: 25px; /* Adjust the padding as needed */
   
}
