@page "/pricecompare"
@attribute [StreamRendering]

<PageTitle>Price Compare</PageTitle>

<h1>Price Compare</h1>

<h3>Select a Flower or Item</h3>

<!-- ADD Flower OPTIONS HERE-->
<form style="display: flex; align-items: center; gap: 10px;">
  <select>
    <option>Flower 1</option>
    <option>Flower 2</option>
    <option>Flower 3</option>
  </select>
</form>